<!--アプリケーション共通の内容はここに記述する！-->

<!DOCTYPE html>
<html>
  <head>
    <title>CARAVAN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--font-awesomeはstylesheetよりも前に記述すること！-->
    <script src="https://kit.fontawesome.com/741070f663.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
